@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('./rootVariables.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--bgColorWhite);
}


#header-container {
    width: 100%;
    height: 85dvh;
    background-image: url('../source/pagesImg/hotel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        color: rgb(242, 242, 242);
        padding-top: 10rem;
        font-size: 2.5rem;
        text-shadow: 0 0 5px #111111;
    }
}

#header-in-scroll {
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    background-color: var(--bgColorGrey1);
    transition: all .75s;
    position: fixed;
    top: 0;
    z-index: 1000;


    & ul {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        list-style: none;
        height: 100%;

        a {
            color: var(--txtColorDark);
            text-decoration: none;
        }

        li {
            display: inline-block;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 .5rem;

            &.active>a {
                color: rgb(182, 0, 0);
            }

            &:last-child {
                background-color: rgb(182, 0, 0);

                &:hover {
                    background-color: rgb(151, 0, 0);
                }

                a {
                    color: white;
                    padding: 1.5rem;
                }
            }


        }

        a:hover {
            color: rgb(118, 0, 0);
            cursor: pointer
        }
    }
}

#header-initial {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, #111111, transparent 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    transition: all .5s;
    position: fixed;
    top: 0;
    z-index: 1000;

    & ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        list-style: none;
        background-color: #111111d7;
        padding: .7rem 2.5rem;
        backdrop-filter: blur(2px);
        border-radius: .2rem;

        a {
            color: rgb(218, 218, 218);
            text-decoration: none;
        }

        li {
            display: inline-block;
            height: 100%;
            display: flex;
            align-items: center;
            transition: transform .3s ease;

            &:hover {
                transform: translateY(2px);
            }

            &.active>a {
                color: rgb(218, 37, 37);

            }


        }

        a:hover {
            color: rgb(218, 37, 37);
            cursor: pointer
        }
    }

    img {
        padding: 1rem;
        width: 150px;
    }

}

.hide-header {
    opacity: 0;
    transform: translateY(-100%);
}

main {
    font-family: "Quicksand", sans-serif;
    width: 75%;
    margin: 0 auto;
    padding: 3rem;
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
    gap:10rem;
}



@media screen and (max-width:1500px){
    main{
        width:90%;
        color: var(--txtColorDark);
    }


}

