@import url('./rootVariables.css');

#header-container{
    background-image: url('../source/restauracja.jpg');
}

.sekcja-opis {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.sekcja {
    padding: 2rem 0;

}

.sekcja:not(:first-child) {
    display: flex;
    gap: 3rem;
}

.sekcja1 {
    border: 1px solid #a17676;
    position: relative;

    .tekst {
        padding: 2rem;
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
        background-color: var(--bgColorWhite);
        padding: 0 2rem
    }
}

.sekcja2 {
    display: flex;
    align-items: center;

    img {
        width: 40rem
    }

   
}

.sekcja3{
    display: flex;
    flex-direction: column;
    align-items: center;

     .book {
        display: flex;
        flex-direction: column;
        gap:3rem;


        ul{
            padding:0 1rem;
            border-right:1px solid #a17676;

        }
        h3{
            padding-bottom:1rem;
            
        }
        li{
            padding: .25rem;

            &:hover{
                background-color: #eceee6;
            }
        }

        
    }
}

@media (max-width: 1500px){
    .sekcja2 img{
        width:30rem;
    }
}

@media (max-width: 1200px) {
    .sekcja2{
        flex-direction: column-reverse;
    }
}

@media (max-width:540px) {
 .sekcja2 img{
        width:20rem;
    }
}